{{> head }}
{{> navbar }}
<div class="container">
    <div class="row mt-5">
        <div class="col-8">
            <h1>We can to practise</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tempore illo atque mollitia!</p>
        </div>
        <div class="col-4">
            <img src="../assets/img/paisaje.jpg" alt="Error..." class="img-fluid img-thumbnail">
        </div>
    </div>
</div>
{{> footer }}